<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>we are dealing with filters</h1>
        <h1>{{data}}</h1>
        <h1>{{data|upper}}</h1>
        <h1>{{data|lower}}</h1>
        <h1>{{data|capfirst}}</h1>
        <h1>{{data|title}}</h1>
        <h1>{{data|truncatechars:10}}</h1>
        <h1>{{data|truncatewords:3}}</h1>
        <h1>{{data|slice:10}}</h1>
        <h1>{{data|length}}</h1>
        <h1>{{dates|date:'y'}}</h1>
        <h1>{{dates|date:'d/m/y'}}</h1>
        <h1>{{dates|date:'D M Y A'}}</h1>
        <h1>i have {{b}} mango{{b|pluralize:'es'}}</h1>
        <h1>i have {{b}} mango{{b|pluralize:'s,es'}}</h1>
        <h1>i have {{b}} mango{{b|pluralize}}</h1>
        
        
    </center>
</body>
</html>